BODY {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;

  font-variant: normal;
  font-style: normal;
  font-weight: normal;

  text-align: justify;
  text-indent: 0px;
}

/* faq.css */
  /*
UL {
  margin 0px 0px 0px 0px;
}

LI {
  margin 0px 0px 0px 0px;
}

TABLE {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

TR {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  vertical-align: text-top;
}

TD {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

CODE {
  white-space: pre;
  font-family: "Courier New", Courier, mono;
  letter-spacing: 0px;
  font-size: 10px;
  font-variant: normal;
  font-style: normal;
  color: #0000FF;
}

SAMP {
  white-space: pre;
  font-family: "Courier New", Courier, mono;
  letter-spacing: 0px;
  font-size: 10px;
  font-variant: normal;
  font-style: normal;
  color: #FF0000;
}

UL {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

LI {
  padding-bottom: 0px;
  margin-bottom: 0px;
} */
